.avatar-show-img {
  width: 250px;
  height: 400px;
}

.well.profile-block {
  color: #fff;
  h3 {
    margin-top: 0;
  }
}

.well.profile-description {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.well.profile-contact-info {
  background-color: teal;
  border-color: #4cae4c;
}